h1{
    color:rgb(117, 27, 5);
    font-family:Georgia'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 3em;
}
html{
    background: url(image/Screenshot_20221112_113502.png) no-repeat center center fixed;
    -webkit-backgound-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}
body{
    font-style: italic;
}
table{
    margin: auto;
}
th{
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 5px;
    color: rgb(6, 117, 51);
}
td{
    text-align: left;
}
.btn:hover{
    color: rgb(9, 111, 245);
    border-radius: 5px;
    border: 2px;
}
input:focus{
    background-color: rgba(251, 200, 200, 0.777);
}
.btn{
    background-color: blanchedalmond;
    border: 2px burlywood;
    box-shadow: 3px 3px 3px grey;
    padding: auto;
    font-style: oblique;
    font-family: cursive;
}
tr:nth-child(even){
    background-color:rgba(241, 137, 19, 0.3);
}
.form{
    color: rgb(80, 2, 2);
    font-size: 20px;
    align-items: center;
    text-align: center;
    
}